.aktiviteter,
.hurVillDu {
  margin: 0;
}
.favouritestitle {
  margin: 0;
  width: 16.25rem;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.buttoncontainer,
.main,
.minafavoriterhubCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.buttoncontainer {
  align-self: stretch;
  overflow: hidden;
  gap: var(--gap-base);
}
.main,
.minafavoriterhubCopy {
  gap: var(--gap-5xl);
}
.main {
  align-self: stretch;
  overflow: hidden;
  padding: 0 var(--padding-base);
  text-align: center;
  font-size: var(--heading-card-size);
  color: var(--dark);
  font-family: var(--buttontext-large);
}
.minafavoriterhubCopy {
  width: 100%;
  position: relative;
  background-color: var(--lightmid);
  padding: 0 0 10.5rem;
  box-sizing: border-box;
  letter-spacing: normal;
  line-height: normal;
}
