.buttonbackIcon {
  height: 3.5rem;
  width: 3.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 3.5rem;
}
.navtitle {
  margin: 0;
  width: 10.063rem;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttoncloselargeIcon {
  height: 3.5rem;
  width: 6rem;
  min-width: 3.5rem;
  max-width: 3.5rem;
  cursor: pointer;
}
.nav {
  margin: 0;
  align-self: stretch;
  height: 4.5rem;
  background-color: var(--light);
  border-bottom: 1px solid var(--dark);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-5xs-5);
  text-align: center;
  font-size: var(--heading-card-size);
  color: var(--darkmid);
  font-family: var(--buttontext-large);
}
.activitytitle,
.buttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.activitytitle {
  margin: 0;
  width: 17.063rem;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.buttoncontainer {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-13xl);
}
.main,
.minafavoriteroption2Copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.main {
  align-self: stretch;
  overflow: hidden;
  padding: 0 var(--padding-base);
  text-align: center;
  font-size: var(--heading-small-size);
  color: var(--dark);
  font-family: var(--buttontext-large);
}
.minafavoriteroption2Copy {
  width: 100%;
  position: relative;
  background-color: var(--lightmid);
  padding: 0 0 var(--padding-12xl);
  box-sizing: border-box;
  letter-spacing: normal;
  line-height: normal;
}
