.buttontext {
  height: 4rem;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonlargewide {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.buttontext1 {
  height: 4rem;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonlargewide1 {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.buttontext2 {
  height: 4rem;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonlargewide2 {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  flex-direction: row;
  white-space: nowrap;
}
.buttonContainer,
.buttoncontainer,
.buttonlargewide2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttoncontainer {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}
.buttonContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.25rem;
  color: #000;
  font-family: Inter;
}
