.nav,
.navtitle {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navtitle {
  width: 10.25rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.nav {
  align-self: stretch;
  background-color: var(--light);
  border-bottom: 1px solid var(--dark);
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-7xs) var(--padding-7xs);
  gap: var(--gap-base);
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: center;
  font-size: var(--heading-medium-size);
  color: var(--darkmid);
  font-family: var(--buttontext-large);
}
