.navtitle {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.nav {
  margin: 0;
  align-self: stretch;
  background-color: var(--light);
  border-bottom: 1px solid var(--dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-57xl) var(--padding-7xs)
    var(--padding-5xs);
  gap: var(--gap-base);
  white-space: nowrap;
  text-align: center;
  font-size: var(--heading-medium-size);
  color: var(--darkmid);
  font-family: var(--buttontext-large);
}
