@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --buttontext-large: Inter;

  /* font sizes */
  --buttontext-large-size: 1.25rem;
  --buttontext-small-size: 1rem;
  --heading-card-size: 1.5rem;
  --heading-small-size: 1.125rem;
  --heading-large-size: 2rem;

  /* Colors */
  --lightmid: #efefef;
  --dark: #000;
  --light: #fff;
  --darkmid: #8c8c8c;
  --mid: #d9d9d9;

  /* Gaps */
  --gap-base: 1rem;
  --gap-13xl: 2rem;
  --gap-xs: 0.75rem;
  --gap-5xl: 1.5rem;

  /* Paddings */
  --padding-12xl: 1.938rem;
  --padding-base: 1rem;
  --padding-xs: 0.75rem;
  --padding-10xs: 0.188rem;
  --padding-16xl: 2.188rem;
  --padding-5xs: 0.5rem;
  --padding-mini: 0.938rem;
  --padding-5xs-5: 0.469rem;
  --padding-xl: 1.25rem;
  --padding-17xl: 2.25rem;
  --padding-60xl: 4.938rem;
  --padding-12xs: 0.063rem;

  /* Border radiuses */
  --br-3xs: 10px;

  /* Effects */
  --shadow-button: 2px 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-card: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
