.cardtitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 4.063rem;
}
.cardimageIcon {
  width: 13.5rem;
  height: 13.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.card {
  border-radius: var(--br-3xs);
  background-color: var(--light);
  box-shadow: var(--shadow-card);
  border: 1px solid var(--dark);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-16xl);
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--heading-card-size);
  color: var(--dark);
  font-family: var(--buttontext-large);
}
