.anima-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
  border: 1px solid;
  border-color: var(--dark);
  border-radius: 0.625rem;
  box-shadow: var(--shadow-card);
  gap: 0.75rem;
  overflow: hidden;
  padding: 1rem 2.25rem;
  position: relative;
  width: 100%;
  max-width: 337px;
}

.anima-card .card-title {
  color: var(--dark);
  font-family: var(--heading-card-font-family);
  font-size: 1.5rem; /* 24px / 16 */
  font-style: var(--heading-card-font-style);
  font-weight: var(--heading-card-font-weight);
  letter-spacing: var(--heading-card-letter-spacing);
  line-height: var(--heading-card-line-height);
  margin-top: -0.0625rem;
  position: relative;
  width: fit-content;
}

.anima-card .card-image {
  background-image: url(../../../static/img/cardimage.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 13.5rem;
  position: relative;
  width: 13.5rem;
}

.anima-card .anima-button-small-instance {
  flex: 0 0 auto !important;
}

@media (max-width: 768px) {
  .anima-card {
    flex-wrap: wrap;
  }
}