@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;

  /* Colors */
  --color-whitesmoke: #efefef;
  --color-gray: #8c8c8c;
  --color-white: #fff;
  --color-black: #000;
  --color-darkslategray: #403e3e;

  /* Border radiuses */
  --br-3xs: 10px;
}
