.buttonChild {
  align-self: stretch;
  width: 8.125rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  display: none;
}
.knapp {
  height: 3.75rem;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.button,
.buttonItem {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkslategray);
}
.button {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 1;
}
.buttonItem {
  align-self: stretch;
  width: 8.125rem;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.knapp1 {
  height: 3.75rem;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.button1 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkslategray);
  cursor: pointer;
  z-index: 1;
}
.button1,
.buttonParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonParent {
  flex: 1;
  gap: var(--gap-8xs);
}
.frameWrapper {
  align-self: stretch;
  padding: 0 var(--padding-5xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
